<h1> t </h1>
<hr>
<h2>About</h2>
<p>Currently this project has the only purpose of learning Ember.js</p>
<h3>Ecoologic</h3>
<ul>
  <li><a href="http://ecoologic.blogspot.com.au/">Ecoologic Tech Notes (Blogpost)</a></li>
  <li><a href="https://twitter.com/erikEcoologic">@erikEcoologic (Twitter)</a></li>
  <li><a href="http://stackexchange.com/users/212831/ecoologic?tab=top">ecoologic profile (StackExchange)</a></li>
  <li><a href="http://www.linkedin.com/profile/view?id=78776134">Erik T. Ecoologic (LinkedIn)</a></li>
</ul>
<p>Available for Open Source projects</p>
<h3>Server Side</h3>
<dl>
  <dt>Language</dt>
  <dd>Ruby 2.0</dd>
  <dt>Framework</dt>
  <dd>Ruby on Rails 4.0</dd>
</dl>
<h3>Client Side</h3>
<dl>
  <dt>Framework</dt>
  <dd>Ember.js 1.0.0-rc.6</dd>
</dl>
