<h1> t </h1>
<hr>
<h2>About</h2>
<p>Currently this project has the only purpose of learning Ember.js</p>
<h3>Ecoologic</h3>
<dl>
  <dt>Blog</dt>
  <dd>a...</dd>
  <dt>Twitter</dt>
  <dd>a...</dd>
  <dt>Stack Overflow</dt>
  <dd>a...</dd>
  <dt>Work with Rails</dt>
  <dd>a...</dd>
</dl>
<h3>Server Side</h3>
<dl>
  <dt>Language</dt>
  <dd>Ruby 2.0</dd>
  <dt>Framework</dt>
  <dd>Ruby on Rails 4.0</dd>
</dl>
<h3>Client Side</h3>
<dl>
  <dt>Framework</dt>
  <dd>Ember.js 1.0.0-rc.6</dd>
</dl>
