<div class='row'>

  <section class='span9'>
    <section>
      {{render 'projects' model}}

      {{outlet}}
    </section>
  </section>

  <aside class='span3'>
    {{partial about}}
  </aside>

</div>
