<div class='row'>

  <section class='span9'>
    <ul class='nav nav-tabs nav-stacked'>
      <li>{{#linkTo 'tasks'}}Tasks{{/linkTo}}</li>
    </ul>

    <section>
      {{outlet}}
    </section>
  </section>

  <aside class='span3'>
    <h2>About</h2>
    <p>Currently this project has the only purpose of learning Ember.js</p>
    <h3>Server Side</h3>
    <dl>
      <dt>Language</dt>
      <dd>Ruby 2.0</dd>
      <dt>Framework</dt>
      <dd>Ruby on Rails 4.0</dd>
    </dl>
    <h3>Client Side</h3>
    <dl>
      <dt>Framework</dt>
      <dd>Ember.js 1.0.0-rc.6</dd>
    </dl>
  </aside>

</div>
