<div class='row'>

  <section class='span9'>
    <ul class='nav nav-tabs nav-stacked'>
      <li>{{#linkTo 'tasks'}}Tasks{{/linkTo}}</li>
    </ul>

    <section>
      {{outlet}}
    </section>
  </section>

  <aside class='span3'>
    {{partial about}}
  </aside>

</div>
