<article class='task'>

  <blockquote class='description well'>
    {{md description}}
    <small>
      {{time createdAt}} &mdash; {{duration}} h 
    </small>
  </blockquote>

  <div class='activities'>
    {{render 'activities' activities}}
  </div>

</article>
