<article class='task'>
  <header>
    <h2>{{name}}</h2>
  </header>
  <blockquote class='description'>
    {{md description}}
  </blockquote>
  <div class='activities'>

    <hr>
    {{#each activities}}
      {{render 'activity' this}}
      <hr>
    {{else}}
      <p class='empty'>There is no activity yet</p>
    {{/each}}
  </div>
</article>
