/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require bootstrap_overrides
 *= require_self
 */

html, body {
  background-color: #8AA894;
}

p.empty {
  font-style: italic;
  text-align: center;
}

a.active {
  color: darkblue;
  font-weight: bolder;
}

input[type="number"] {
  width: 4em;
}

.activity .is-question.well {
  border-color: salmon;
  border-width: 2px;
}

.tasks li.last-activity-is-question {
  background-color: lightsalmon;
}

form.is-new .is-new-false { display: none }  
form:not(.is-new) .is-new-true  { display: none; }

